apscheduler
fastapi
PyMuPDF
uvicorn
pydantic
python-dotenv
supabase
sentence_transformers
numpy
pandas
Pillow
PyJWT
httpx
PyPDF2
pytesseract
unstructured
websockets
playwright
# optional dev dependencies
pytest
google-genai
google-generativeai
python-multipart
chromium
google-cloud-texttospeech
ffmpeg
static-ffmpeg
bcrypt
pydantic[email]

ultralytics

librosa==0.11.0
soundfile
pydub
ffmpeg-python


torch==2.10.0
torchaudio==2.11.0
transformers==5.3.0


google-genai==1.68.0

mediapipe
