apscheduler
fastapi
PyMuPDF
uvicorn
pydantic
python-dotenv
supabase
sentence_transformers
numpy
pandas
Pillow
PyJWT
httpx
PyPDF2
pytesseract
unstructured
websockets
playwright
pytest
google-genai
google-generativeai
python-multipart
chromium
google-cloud-texttospeech
ffmpeg
static-ffmpeg
bcrypt
pydantic[email]
python-docx
ultralytics
openpyxl